# this file is just for showing the required env variables

EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_KEY=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_ANDROID_KEYSTORE_PASSWORD=
EXPO_PUBLIC_ANDROID_KEY_ALIAS=
EXPO_PUBLIC_ANDROID_KEY_PASSWORD=
EXPO_PUBLIC_SOCKET_SERVER_URL=